
/* General CSS across all pages */

body {
	text-align: center;
}

/* HTML for index.html */

.prompt {
	text-align: center;
}

/* HTML for game.html */
.letter-bank {
	text-align: center;
}

.row {
	margin: 50px;
}

.btn {
	margin: 20px;;
}
