
/* General CSS across all pages */

body {
	text-align: center;
}

/* HTML for index.html */

.prompt {
	text-align: center;
}

/* HTML for game.html */
.letter-bank {
	text-align: center;
}

.row {
	margin: 50px;
}
/*.col {
	border: 1px solid black;
}*/
.btn {
	margin: 5px;;
}

button.left {
	margin-top: 30px;
}

.secret-word {
	margin-bottom: 150px;
	margin-top: 30px;
}


/* Hangman Image */

.hangman {
	width: 200px;
	height: 200px;
	position: relative;
}

.hangman-head {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #FFA500;
	margin: 100px 0px 0px 200px;
}

.hangman-ear1, .hangman-ear2, .hangman-eye1, .hangman-eye2, .hangman-mouth, 
.hangman-whisker1, .hangman-whisker2, .hangman-whisker3, .hangman0whisker4  {
	position: absolute;

}

.hangman-ear1 {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #FFA500;
	margin: -220px 0px 0px 325px;
}

.hangman-ear2 {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #FFA500;
	margin: -220px 0px 0px 200px;
}


.hangman-eye1 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000000;
	margin: -140px 0px 0px 250px;
}


.hangman-eye2 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000000;
	margin: -140px 0px 0px 330px;
}

.hangman-mouth {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFC0CB;
	margin: -100px 0px 0px 280px;
}

.hangman-whisker1 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(167deg); 
      margin: -80px 0px 0px 330px;
}

.hangman-whisker2 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(167deg); 
      margin: -70px 0px 0px 330px;
}

.hangman-whisker3 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(10deg); 
      margin: -123px 0px 0px 161px;
}

.hangman-whisker4 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(10deg); 
      margin: -113px 0px 0px 161px;
}