
/* General CSS across all pages */

body {
	text-align: center;
}

h1 {
	text-transform: uppercase;
	letter-spacing: .1em;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

p, h2, label, h3 {
	font-family: 'Quicksand', sans-serif;

}

h3, label {
	text-transform: lowercase;
}

/* HTML for index.html */

.prompt, .prompt form {
	text-align: center;
	padding: 20px;
}


.prompt .btn {
	margin: 30px;
	background-color: orange;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .1em;
}

.wrap1 {
	margin: 150px 300px 0px 300px;
	min-width: 300px;

}


/* HTML for game.html */
.letter-bank {
	text-align: center;
}

.header {
	margin: 70px;
}

.row {
	margin: 50px;
}

.btn {
	margin: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: .1em;

}

button.left {
	margin-top: 30px;
}

.secret-word {
	margin-bottom: 70px;
	margin-top: 100px;
	font-size: 50px;
	font-weight: 700;
	color: orange;
	font-family: 'Quicksand', sans-serif;
}

.counter {
	margin: 30px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	display: inline-block;
}

.counter span {
	color: orange;
}

.buttom-hangman {
	display: inline;
}


/* Hangman Image */

.hangman {
	width: 250px;
	height: 250px;
	position: relative;
	margin-left: 15px;
}

.hangman-head {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: grey;
	margin: 100px 0px 0px 200px;
}

.hangman-ear1, .hangman-ear2, .hangman-eye1, .hangman-eye2, .hangman-mouth, 
.hangman-whisker1, .hangman-whisker2, .hangman-whisker3, .hangman0whisker4  {
	position: absolute;

}

.hangman-ear1 {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: grey;
	margin: -220px 0px 0px 325px;
}

.hangman-ear2 {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: grey;
	margin: -220px 0px 0px 200px;
}


.hangman-eye1 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000000;
	margin: -140px 0px 0px 250px;
}


.hangman-eye2 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000000;
	margin: -140px 0px 0px 330px;
}

.hangman-mouth {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFC0CB;
	margin: -100px 0px 0px 280px;
}

.hangman-whisker1 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(167deg); 
      margin: -80px 0px 0px 330px;
}

.hangman-whisker2 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(167deg); 
      margin: -70px 0px 0px 330px;
}

.hangman-whisker3 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(10deg); 
      margin: -123px 0px 0px 161px;
}

.hangman-whisker4 {
      width: 112px;
      height: 47px;
      border-bottom: 1px solid black;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(10deg); 
      margin: -113px 0px 0px 161px;
}